.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* :root {
  accent-color: #4d5ae5;
  main-color: #2e2f42;
  second-color: #434455;
  main-white-color: #ffffff;
  second-white-color: #f4f4fd;
} */

/* HEADER  */

.header {
  background-color:#ffffff;
}
.main-nav {
}
.logo {
  color:#2e2f42; 
}
.accent-logo{
  color:#4d5ae5;
}
.header-list {
 
}
.header-item {
}
.header-link {
   color: #2e2f42;
}
.header-contacts {
}
.contacts-list {
}
.contacts-item {

}
.contacts-link {
  color:#434455 ;
}

/* HERO */

.hero {
  background-color: #2e2f42;
}
.hero-title {
  color: #ffffff;
}
.main-btn {
  background-color:#4D5AE5;
  color: #ffffff;
}

/* FEATURES */

.features {
}
.features-main-title {
}
.features-list {
}
.features-item {
}
.features-secondly-title {
  color: #2e2f42;
}
.features-description {
  color: #434455;
}
/* ----- WHAT ARE WE DOING? ------- */

.our-work{
}
.our-work-title {
  color: #2e2f42;
}
.our-work-list {
}
.our-work-item {
}

/* OUR TEAM */

.team {
  background-color: #F4F4FD;
}
.team-title {
  color: #2e2f42;
}
.team-list {
}
.team-item {
}
.team-link {
}
.team-name {
  color: #2e2f42;
}
.team-job {
  color:#434455;
}

/* FOOTER */

.footer {
  background-color: #2E2F42;
}
.logo {
  color: #F4F4FD;
}
.accent-logo {
  color: #4d5ae5;
}
.footer-description {
  color: #E7E9FC;;
}
