:root {
  --primary-brand-color: #4d5ae5;
  --pressed-state-color: #404bbf;
  --dark-color: #2e2f42;
  --succes-color: #31d0aa;
  --text-color: #434455;
  --subtle-color: #8e8f99;
  --accent-color: #e7e9fc;
  --light-color: #f4f4fd;
  --modal-overlay-color: #2e2f42;
  --hero-background-color: #2e2f42;
}
.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: var(--text-color);
}

/* HEADER  */

.header {
  background-color: #ffffff;
}
.main-nav {
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--dark-color);
}

.accent-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand-color);
}
.header-list {
}
.header-item {
}
.header-link {
  font-weight: 500;
  font-size: 16px;
  color: var(--dark-color);
}
.header-link:hover,
.header-link:focus {
  font-weight: 500;
  font-size: 16px;
  color: var(--pressed-state-color);
}

.header-contacts {
  font-style: normal;
  font-size: 16px;
}
.contacts-list {
}
.contacts-item {
}
.contacts-link {
  color: var(--text-color);
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--pressed-state-color);
}

/* HERO */

.hero {
  background-color: var(--hero-background-color);
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  color: #ffffff;
}

.main-btn {
  font-family: "Roboto", sans-serif;
  background-color: var(--primary-brand-color);
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.main-btn:hover,
.main-btn:focus {
  font-family: "Roboto", sans-serif;
  background: var(--pressed-state-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  cursor: pointer;
}

/* FEATURES */

.features {
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.features-list {
}
.features-item {
}
.features-secondly-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--dark-color);
}

.features-description {
  font-size: 16px;
}
/* ----- WHAT ARE WE DOING? ------- */

.our-work {
}
.our-work-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: var(--dark-color);
}
.our-work-list {
}
.our-work-item {
}

/* OUR TEAM */

.team {
  background-color: var(--light-color);
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: var(--dark-color);
}

.team-list {
}
.team-item {
}
.team-link {
}
.team-name {
  color: var(--dark-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
}

.team-job {
  font-size: 16px;
  text-align: center;
}

/* FOOTER */

.footer {
  background-color: var(--dark-color);
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light-color);
}

.accent-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand-color);
}

.footer-description {
  font-size: 16px;
  color: var(--accent-color);
}

/* --------PORTFOLIO FILTERS----------- */

.portfolio-filters {
}
.portfolio-filters-list {
}
.portfolio-button-item {
}
.filter-buttons {
  font-family: "Roboto", sans-serif;
  background: var(--light-color);
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  color: var(--primary-brand-color);
  cursor: pointer;
}
.filter-buttons:hover,
.filter-buttons:focus {
  font-family: "Roboto", sans-serif;
  background: var(--pressed-state-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: #ffffff;
}
/* --------PORTFOLIO EXAMPLES----------- */

.portfolio-examples {
}
.portfolio-examples-list {
}
.examples-item {
}
.examples-img {
}
.examples-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--dark-color);
}

.examples-description {
  font-size: 16px;
  color: var(--text-color);
}
